<?php

declare(strict_types=1);

use OktaClient\ApiClientInterface;
use GuzzleHttp\RequestOptions;
use OktaClient\Http\HeaderOptions;

return [
    ApiClientInterface::class => [
        'base_uri' => 'https://{{ okta_base_uri }}.okta.com/api/v1/',
        RequestOptions::HEADERS => [
            HeaderOptions::ACCEPT        => 'application/json',
            HeaderOptions::AUTHORIZATION => 'SSWS {{ okta_api_key }}',
            HeaderOptions::CONTENT_TYPE  => 'application/json',
        ],
    ],
];
